/*.box1{
    margin: 30px;
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 20px solid #000;
    border-image-source: url(image/border.png);
    border-image-slice: 28 ;
    border-image-repeat: round;
    border-image-width: 30px;
    background-color: green;
    border-image-outset: 20px;
   /* border-image: linear-gradiant(red,green) 30 stretch;
}*/
.box1{
    height: 200px;
    width: 200px;
    background-color: blue;
    background-image: repeating-linear-gradient(red 10%,yellow 20%,green 40%);
}